* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: red;
}

header {
  text-align: center;
  padding: 35px;
  font-size: 30px;
}

.main {
  display: flex;
  background-color: lightblue;
}

section {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  padding-left: 50px;
  height: 650px;
  width: 300px;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: #f08080;
}

button {
  display: block;
  outline: none;
  border: 1px solid brown;
  border-radius: 2px;
  padding: 9px 15px;
  width: 80%;
  margin-bottom: 10px;
}

.slider {
  position: relative;
  padding: 0px 30px;
}

p {
  display: flex;
  justify-content: center;
  font-size: 15px;
  align-self: flex-start;
}